.main-blog{
  width: 100%;
  margin-top: 120px;
  margin-bottom: 20px;
}
.main-blog .heading{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.main-blog .heading h2{
  background: linear-gradient(60deg, rgb(50, 50, 90), rgb(196, 106, 106));
  background-clip: text;
  -webkit-text-fill-color: transparent;

}
.blog-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
}
.blog-top{
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1em;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
}
.main-card{
  display: inline-flex;
  flex-direction: column;
  background-color: lch(95.15% 0.01 296.81);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.blog-card{
  display: flex;
  flex-direction: column;
  background-color: lch(95.15% 0.01 296.81);
  padding: 10px;
  border-radius: 10px;
}
.post-picture {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}
.post-picture img{
  width: 100%;
  height: 180px;
  border-radius: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.post-picture p{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  background-color: black;
  color: #fff;
}
.post-content{
  display: flex;
  flex-direction: column;
  gap: 2%;
  width: 100%;
  margin-top: 0px;
  position: relative;
}
.post-content h2{
  font-size: 16px;
  margin-top: 0;
  padding: 0;
}
.post-content p{
  width: 100%;
  overflow-wrap: break-word;
}
.post-content div{
  display: flex;
  align-items: center;
  width: 100%;
}
.post-content div button{
background-color: rgb(126, 126, 210);
border: none;
cursor: pointer;
padding: 5px;
border-radius: 10px;
margin-right: 2%;
}
.main-card img{
  height: 350px;
  
}
.top{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  height: 80vh;
  overflow: hidden;
  width: 100%;
  
}
@media (max-width: 918px) {
  .top{
    display: flex;
    width: 100%;
  }
  .main-card{
    width: 100%;
  }
  @media (max-width: 1200px) {
    
  }
}
.slider{
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.mySwiper{
  height: 500px;
  display: flex;

  width: 100%;
}
@media (max-width: 550px) {
  .main-card img{
    height: 178px;
  }
  .top{
    height: 50vh;
  }
}

