.dev-footer {
  background: rgb(0, 0, 0);  
}

.dev-footer hr {
  margin: 5px 6%;
  align-items: center;
}

.dev-footer-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 8px 0;
}

.dev-footer-links {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: white;
}

.dev-footer-links:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.dev-footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 6%;
}

.dev-footer-content p {
  color: white;
}


.dev-inner-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dev-inner-footer p {
  font-size: 17px;
  color: rgb(255, 255, 255);
}

.dev-inner-footer a {
  font-size: 19px;
  color: rgb(107, 26, 95);
  font-weight: 600;
  cursor: pointer;
}

/* responsiveness */
@media (max-width:500px) {
  .dev-footer-header {
    gap: 8px;
    padding: 6px 0;
  }
  .dev-footer-links {
    font-size: 14px;
  }
  .dev-inner-footer p {
    font-size: 15px;
  }
  .dev-inner-footer a {
    font-size: 15px;
  }
  .dev-footer-content {
    flex-direction: column;
    gap: 10px;
    padding: 15px 6%;
  }

  .dev-footer-content p {
    font-size: 15px;
  }
  
}