.nav-header {
  background: rgb(0, 0, 0);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 6%;
  position: sticky;
}
.nav-header-left p {
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.nav-header-left p:hover {
  cursor: not-allowed;
}

.nav-header-right {
  display: flex;
  gap: 20px;
}

.nav-header-right a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.nav-header-right a:hover{
  color: red;
  transition: 0.5s;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 6%;
}

.nav-content img {
  width: 120px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav-links li {
  font-size: 17px;
  cursor: pointer;
  font-weight: 600;
}

.nav-links li:hover {
  color: red;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
  transition: 0.5s;
}

.nav-line {
  display: none;
}

.navlinks {
  text-decoration: none;
  color: black;
}

.navlinks.active {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
  color: rgb(239, 59, 59);
}

/* Toggle Menu Visibility */
@media (max-width: 500px) {
  .nav-header-left p{
    font-size: 13px;
  }

  .nav-header-right a{
    font-size: 16px;
  }

  .nav-links li {
    width: 100%;
    padding-left: 50px;
    color: white;
  }

  .nav-line {
    display: block;
    font-size: 20px;
    cursor: pointer;
  }
  
  .nav-img{
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
  }

  .nav-img img {
    width: 100px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: black;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    text-align:left;
    align-items: flex-start;
    gap: 20px;
    z-index: 999;
  }


  .nav-links.show-menu {
    display: flex;
    animation: slideDown 0.5s ease-in-out;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}