.footer {
  background-color: rgb(0, 0, 0);
  padding: 50px 6%;
  color: white;
  display: flex;
  justify-content: space-between;
  z-index: -10;
}

.footer-left ul li {
  font-size: 17px;
  cursor: pointer;
}

.footer-left ul li:hover {
  color: rgb(201, 3, 3);
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
  transition: all 0.3s ease;
}

.footer-left ul  {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
}

.footer-between p {
  font-size: 22px;
}

.footer-between {
  display: flex;
  flex-direction: column;
  gap: 15px;
  cursor: pointer;
}

.footer-between a {
  font-size: 20px;
}

.footer-between a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.footer-between a:hover {
  color: rgb(161, 5, 5);
}

.footer-right {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-right .mawasiliano {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

/* responsiveness */

@media (max-width:500px) {
  .footer {
    flex-direction: column;
    gap: 30px;
  }
  .footer-left ul  {
    font-size: 18px;
    gap: 10px;
  }
  .footer-left ul li {
    font-size: 15px;
  }
  .footer-between p {
    font-size: 18px;
  }
  .footer-between {
    gap: 10px;
  }
  .footer-right {
    font-size: 18px;
    gap: 10px;
  }
  .footer-right .mawasiliano {
    font-size: 15px;
    gap: 10px;
  }
  
}